@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;
}

:root {
    --lead: #212121;
    --gold-finger: #F26D12;
    --eye-ball: #FFFDF7;
    --hint-yellow: #FCF1CC;
    --pure-white: #FFF;
}

body {
    background-color: var(--eye-ball);
}

/* General Styling */

a {
    font-size: 1.1rem;
    text-decoration: none;
    color: var(--lead);
}

li {
    list-style: none;
}

.flex {
    display: flex;
    align-items: center;
}

.between {
    justify-content: space-between;
}

.gap-2 {
    gap: 2rem;
}

.gap-3 {
    gap: 3rem;
}

.wrapper {
    max-width: 1400px;
    margin: auto;
    padding-inline: 1.5rem;
}

img {
    max-width: 100%;
    height: auto;
    margin: auto;
    display: block;
}

/* end of General Styling */

/* Header */

header nav {
    min-height: 8vh;
}

header .logo {
    font-size: 2rem;
    font-weight: bold;
    color: var(--gold-finger);
}

.btn {
    font-size: 1.1rem;
    background-color: var(--gold-finger);
    color: var(--pure-white);
    display: inline-block;
    padding: .9rem 2rem;
    border-radius: 1rem;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);
    transition: .3s ease-in-out;
}

.btn:hover {
    background-color: var(--lead);
}

header .hamburger-icon {
    font-size: 1.5rem;
    display: none;
}

header .cart-icon {
    position: relative;
    font-size: 1.3rem;
    color: var(--lead);
}

header .cart-icon span {
    position: absolute;
    top: 50%;
    right: -10px;
    font-size: 0.85rem;
    width: 20px;
    aspect-ratio: 1;
    border-radius: 99px;
    background-color: var(--gold-finger);
    color: var(--pure-white);
    text-align: center;
    line-height: 20px;
}

.mobile-menu {
    display: none;
}

/* end of Header */


/* Hero */
section .hero-sec {
    min-height: calc(100vh - 8vh);
}

.hero-sec :where(.content, .img-container) {
    flex: 1;
}

.hero-sec h1 {
    font-size: 5.6vw;
    color: var(--lead);
}

.hero-sec h1 span {
    color: var(--gold-finger);
}

.hero-sec p {
    font-size: 1.25rem;
    color: gray;
    line-height: 1.8rem;
    font-weight: 400;
    margin-block: 2rem;
    max-width: 550px;
}

.hero-sec .social-icon {
    background-color: var(--hint-yellow);
    width: 3rem;
    aspect-ratio: 1;
    border-radius: 1rem;
    font-size: 1.2rem;
    line-height: 3rem;
    text-align: center;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);
    transition: .3s ease-in-out;
}

.hero-sec .social-icon:hover {
    background-color: var(--lead);
    color: var(--pure-white);
}

/* end of Hero */

/* >>> Media Query <<< */

@media screen and (max-width: 780px) {
    header nav :where(.desktop-menu, .btn) {
        display: none !important;
    }

    header .hamburger-icon {
        display: block !important;
    }

    .mobile-menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        position: absolute;
        top: 20%;
        left: -100%;
        transform: translateX(-50%);
        width: 20rem;
        background-color: var(--pure-white);
        border: .15rem solid var(--gold-finger);
        border-radius: 1rem;
        padding: 2rem;
        box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.05), 8px 8px 8px rgba(0, 0, 0, 0.05) inset;
        transition: 0.5s ease-in-out;
    }

    .mobile-menu.active {
        left: 50%;
    }

    .mobile-menu .btn {
        display: block !important;
    }

    section .hero-sec {
        flex-direction: column;
        padding-top: 1.5rem;
    }

    .hero-sec h1 {
        font-size: 3.6rem;
    }

    .hero-sec .content {
        margin-bottom: 2rem;
    }

    section .hero-sec .gap-2 {
        gap: 1rem;
    }

    section .hero-sec .btn {
        font-size: 1rem;
        padding: .5rem;
        border-radius: 1rem;
    }

    .hero-sec .social-icon {
        width: 2.25rem;
        font-size: 1rem;
        line-height: 2.25rem;
    }
}